<!-- THIS FILE USED WHEN USERNAME IS CLICKED TO SHOW ALL POSTS DONE BY THAT USER -->
{% extends "training/basetraining.html" %}

{% block content %}
    
    <h2 class="mb-3">Posts by {{ view.kwargs.username }}({{ page_obj.paginator.count }})</h2>

    {% for i in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ i.author.profile.image.url }}" >
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' i.author.username %}">{{ i.author}}</a>
                <small class="text-muted">{{ i.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' i.id %}">{{ i.title }}</a></h2>
            <p class="article-content">{{ i.content }}</p>
            </div>
        </article>
    {% endfor %}

<!---------------------------------PAGINATOR[Page Buttons]------------------------------------------------------------------------- -->
    
   <!-- if current page has previous page then show First and previous button -->
   {% if is_paginated %}
        {% if page_obj.has_previous %}
           <a class="btn btn-outline-info mb-4" href="?page=1">First</a>    
           <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    {% endif %}  

    <!-- to show previous 2 pages button and two pages button according to current page -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}   
           <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a> 
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
           <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    <!-- if current page has next page then show next and last button -->
    {% if page_obj.has_next %}
           <a class="btn btn-outline-info mb-4" href="?page={{ page.obj.next_page_number }}">Next</a>    
           <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

<!---------------------------------PAGINATOR[Page Button]------------------------------------------------------------------------- -->

{% endblock content %}
